@layer components {
    .input {
        display: block;
        width: 100%;
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        height: 2rem;
        color: #111827;
        background-color: #ffffff;
        border: 1px solid #d1d5db;
        border-radius: 0.375rem;
        transition:
            border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        box-sizing: border-box;

        &::placeholder {
            color: #9ca3af;
        }

        &:focus {
            border-color: #3b82f6;
            /* Border (Blue) + Inset (White) + Outset (Faint Blue) */
            box-shadow: inset 0 0 0 0.0625rem #fff, 0 0 0 0.25rem color(from #3b82f6 srgb r g b / 0.2);
            outline: none;
        }

        &[aria-disabled="true"] {
            background-color: #f3f4f6;
            color: #9ca3af;
            cursor: not-allowed;
            opacity: 1;
            /* Fix iOS opacity */
        }

        /* Error State */
        &[aria-invalid="true"] {
            border-color: #ef4444;
            /* red-700 for text (WCAG AA) */

            &:focus {
                border-color: #ef4444;
                /* Border (Red) + Inset (White) + Outset (Faint Red) */
                box-shadow: inset 0 0 0 0.0625rem #fff, 0 0 0 0.25rem color(from #ef4444 srgb r g b / 0.2);
            }
        }
    }
}