@layer components {
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        border: none;
        padding-inline: 0.875rem;
        font-size: 0.875rem;
        font-weight: 500;
        font-family: inherit;
        background-color: #eeeeee;
        color: inherit;
        cursor: pointer;
        transition: background-color 0.25s, border-color 0.25s;
        text-decoration: none;
        text-box-trim: trim-both;
        text-box-edge: cap alphabetic;
        text-wrap: nowrap;
        height: 2rem;
        gap: 0.5rem;
    }

    .button:hover {
        background-color: #dddddd;
    }

    .button:active {
        background-color: #cccccc;
    }

    .button:focus-visible {
        outline-offset: 4px;
        outline: 2px auto -webkit-focus-ring-color;
    }
}